*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0.119);
}