*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.user-container{
    background-color: rgba(255, 166, 0, 0.329);
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
#user-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}